.navbar-container {
  margin-top: 0; 
  padding-top: 0; 
  position: absolute;
  top: 0; 
  width: 100%; 
}

.hero-container {
  min-height: 100vh;
}

@keyframes scroll-bottom-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    40% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  
  .platform-name {
    display: inline-block;
    animation: scroll-bottom-up 2s infinite;
  }